.text-area .content{
    -fx-background-color: #a9504a, white , white;
    -fx-background-insets: 0 -1 -1 -1, 0 0 0 0, 0 -1 3 -1;
}

.text-area:focused .context{
    -fx-background-color: #7b67a9, white , white;
    -fx-background-insets: 0 -1 -1 -1, 0 0 0 0, 0 -1 3 -1;
}

#chatinput
{
    -fx-text-fill: #f9ffef;
    -fx-background-color: black;
    -fx-font: 12px;

}

#chatinput .content{
    -fx-background-color: black;
}

#chatinput .scroll-pane
{

    -fx-hbar-policy : never;

}