.eLabel {
    -fx-background-color: #242524;
    -fx-text-fill: #82ffa9;
}

.eTextEditor {
    -fx-background-color: #252527;
    -fx-text-fill: #96b946;
}

.eLane {
    -fx-background-color: #828282;
}