#membersview {
    /*-fx-font: 12pt "Helvetica";*/
    -fx-background-color: #828282;

    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-background-insets: 0, 0, 1, 2;

    -fx-border-width: 1px;
    -fx-border-color: black;

    -fx-background-image: url("background.png");
}

#membersview .list-view {
    -fx-background-image: url("background.png");
}

#membersview .list-cell {
    -fx-background-color: #828282;
    -fx-text-fill: #96b946;
}

#membersview .list-cell:selected {
    -fx-background-color: #96b946;
    -fx-text-fill: white;
}